.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .modal {
  width: 40vw;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 700px) {
  .modalContainer .modal {
    width: 60vw;
  }
}

.modalContainer .modal_header {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.modalContainer .modal_header .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
}

.modalContainer .modal_header .close:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 0 7px;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.modalContainer .modal_content {
  border-bottom: 1px solid #ddd;
  padding: 2rem 0;
}
.modalContainer .modal_footer {
  padding: 2rem 0;
  padding-bottom: 0;
}
.modalContainer .modal_footer button {
  float: right;
  padding: 0.5rem;
}
.modalContainer .modal_footer .modal-close {
  background-color: transparent;
  border: 1px solid;
  font-weight: 600;
  border-radius: 2px;
}
.modalContainer .modal_footer .modal-close:hover {
  color: rgba(54, 67, 72, 0.8);
  cursor: pointer;
}
.modalContainer .modal_footer .submit {
  margin-left: 1rem;
  background-color: rgb(110, 110, 255);
  color: #fff;
  border: none;
  border-radius: 2px;
}
.modalContainer .modal_footer .submit:hover {
  background-color: rgb(116, 116, 233);
  cursor: pointer;
}

#name,
#email,
#phone,
#website {
  border-radius: 4px;
  padding: 10px;
  width: 80%;
}

.context {
  display: flex;
  margin: 20px 0;
}

.context > div:first-child {
  width: 20%;
}

.context > div:last-child {
  width: 80%;
}

.red {
  color: red;
}

.ml20 {
  margin-left: 20px;
}

.user-name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.border-red {
  border: 1px solid red;
}

.border-red:focus {
  border: 1px solid red;
}
